<ion-view view-title="Quan hệ gia đình">
<ion-content>
<div class="list card" >
	<div class="item ">
   <!-- <img ng-src="img/{{row.images}}"> -->
    <h2>Mã nv: {{row.ma_nhan_vien}}</h2>
  </div>
<div class="item item-body" >
<h2>Tên người thân: {{row.ten_nguoi_than}}</h2>
<h2>Năm sinh: {{row.nam_sinh}}</h2>
<h2>Mối quan hệ: {{row.moi_quan_he}}</h2>
<h2>Nghề nghiệp: {{row.nghe_nghiep}}</h2>
<h2>Địa chỉ: {{row.dia_chi}}</h2>
<h2>Điện thoại: {{row.dien_thoai}}</h2>
<h2>Ghi chú: {{row.ghi_chu}}</h2>
</div>
</div>
</ion-content>
</ion-view>
