<ion-side-menus enable-menu-with-back-views="false" >
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button id="leftMenu" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
	
    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left" class="loginBg" >
    <ion-header-bar class="bar-stable bar-positive">
  
       <img src=""><br>
       <p>Nguyễn Hữu Chinh</p>
    </ion-header-bar>
    <ion-content >
    <div class="list card">

  <div class="item item-avatar">
    <img src="{{profile.face}}">
    <h2>{{profile.name}}</h2>
    <p>{{profile.deseg}}</p>
  </div>
</div>
      <ion-list id="menuLinks">
        <ion-item menu-close href="#/app/dashboard"><i class="ion ion-home"></i> Home </ion-item>
        <ion-item menu-close href="#/app/listns"><i class="ion ion-star"></i> Nhân Sự</ion-item>
        <ion-item menu-close href="#/app/profiles"><i class="ion ion-star"></i> Chức vụ</ion-item>
		<ion-item menu-close href="#" ng-click="logout()"><i class="ion ion-book"></i> Logout </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
