<ion-view view-title="Chi tiết nhân sự">
  <ion-content>

<div class="list card">

  <div class="item item-avatar">
   <img ng-src="http://localhost/server/larave_fw/ql_nhansu/resources/upload/{{row.images}}">
       <h2>{{row.ho_ten}}</h2>
     <h2>Mã nv: {{row.ma_nhan_vien}}</h2>
  </div>

  <div class="item item-body">
    
    <p>
      <h2 ng-if="row.gioi_tinh == 1">Giới tính:Nam</h2>
     <h2 ng-if="row.gioi_tinh != 1">Giới tính:Nữ</h2>
    <h2>Phone: {{row.dien_thoai}}</h2>
    <h2>Mail: {{row.email}}</h2>
    <h2>Address: {{row.dia_chi}}</h2>
    <h2>Birthday: {{row.ngay_sinh}}</h2>
    </p>
  </div>

  <div class=" item tabs tabs-secondary tabs-icon-left tabs-background-balanced tabs-color-dark ">
    <a class="button button-icon icon-left ion-settings" href="#/app/detail/{{row.ma_nhan_vien}}"> Công việc </a>|
    <a class="button button-icon icon-left ion-clipboard" href="#/app/hopdong/{{row.ma_nhan_vien}}"> Hợp đồng </a>|
    <a class="button button-icon icon-left ion-person-add" href="#/app/giadinh/{{row.ma_nhan_vien}}"> Gia đình </a>
  </div>
</div>
  </ion-content>
</ion-view>
